*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

* {
/*	transition: all 0.5s;*/
}

/*//loader*/
/*/---------------------------------/*/

/*.loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 999999;
}

.loader.loader-inner {
	background-image: url(preloader.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}*/

/*/End/loader/*/
/*/---------------------------------/*/

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	background-color: #E6E6E6;
	font-family: "Raleway-light", "RobotoRegular", verdana,  sans-serif;
	font-size: 16px;
	margin: 0;
	min-width: 320px;
	position: relative;
	line-height: 1.5em;
}

input,textarea,button,select:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}

ol,
ul {
	list-style: none;
}

* a {
	color: #000;
	text-decoration: none;
}
.site-main {
	margin: 0;
	padding: 0;
}

.site-main .bgc {
	display: flex;
}
/*.site-main .header, .bar, .content-section {
	box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
}*/

.site-main .header {
	background-color: #fff;
	display: inline-flex;
	height: 100px;
	justify-content: center;
	padding-bottom: 10px;
	width: 100%;
}

.site-main .header .header-container {
	display: inline-flex;
	width: 960px;
}

.site-main .header .header-container .logo, .alert, .contacts {
	align-items: center;
	display: inline-flex;
	flex-grow: 1;
	height: 100%;
	justify-content: center;
}

.site-main .header .header-container img {
	position: relative;
	top: 5px;
	width: 105px;
}

.site-main .nav {
	background-color: #282B2D;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	width: 100%;
}

.site-main .nav ul {
	align-items: center;
	display: flex;
	height: 60px;
	margin: 0;
	padding: 0;
	width: 960px;

}

.site-main .nav ul a {
	color: #fff;
	display: inline-flex;
	flex-grow: 1;
	justify-content: center;
	padding: 19px 0 17px;
}

.site-main .nav ul a:hover {
	background: #32CB8F;
}

.site-main .main {
	display: flex;
	justify-content: center;
}

.site-main .main .main-container {
	display: flex;
	padding: 0;
	width: 960px;
}

.site-main .main .site-bar {
	background-color: #e6e6e6;
	display: inline-flex;
	flex-direction: column;
	width: 230px;
}

.site-main .main .site-bar .bar {
	background-color: #fff;
	display: flex;
	flex-direction: column;
}

.site-main .site-bar .bar h3 {
	color: #32CB8F;
	text-align: center;
}

.site-main .site-bar .bar ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.site-main .site-bar .bar ul a {
	padding: 10px 15px;
}

.site-main .site-bar .bar ul a:last-child {
	padding-bottom: 10px;
}

.site-main .site-bar .bar ul a:hover {
	background: #32CB8F;
	border-right: 5px solid #282B2D;
}

.site-main .main .content-section {
	display: inline-flex;
	background-color: #32CB8F;
	flex-direction: column;
}

/*//contant*/
/*/---------------------------------/*/

.site-main .main .content-section .box {
	display: flex;
	margin: 30px;
	padding: 30px;
	background-color: #fff;
	align-items: center;
	border-radius: 14px;
	flex-direction: column;
}

.box .price-box {
	width: 100%;
	justify-content: center;
}

.site-main .main .content-section .box .price-box .price-button {
	display: flex;
	justify-content: center;
	cursor: pointer;
	margin: 0;
	width: 100%;
	background-color: #f0f0f0;
}

.site-main .main .content-section .box .price-box .price-mnu {
	display: flex;
	justify-content: center;
	cursor: pointer;
	background-color: #f0f0f0;
}

.site-main .main .content-section .box p {
	text-indent: 20px;
	column-gap: 50px;
	column-rule: 2px dashed rgba(0,0,0,.5);
}

.spoiler-wrap {
	display: flex;
	flex-direction: column;
	width: 610px;
	background: #fff;
	margin: 0 0 8px;
	border: 1px solid #efefef;
	border-radius: 14px;
}

.spoiler-head {
	display: flex;
	background: #efefef;
	cursor: pointer;
	padding: 5px;
	justify-content: center;
	border-radius: 14px;
}

.spoiler-body {
	padding: 10px;
}

.spoiler-wrap.disabled .spoiler-body {
	display: none;
}

.spoiler-wrap.active {
	border-color: #32CB8F;
}

.spoiler-wrap.active .spoiler-head {
	background: #32CB8F;
	color: #fff;
}

.spoiler-wrap-hide {
	display: flex;
	flex-direction: column;
	background: #fff;
	margin: 0 0 8px;
	border: 1px solid #efefef;
	border-radius: 14px;
}

.spoiler-head-hide {
	display: flex;
	justify-content: center;
	background: #efefef;
	cursor: pointer;
	padding: 5px;
	border-radius: 14px;
}

.spoiler-body-hide {
	padding: 10px;
}

.spoiler-wrap-hide.disabled .spoiler-body-hide {
	display: none;
}

.spoiler-wrap-hide.active {
	border-color: #32CB8F;
}

.spoiler-wrap-hide.active .spoiler-head-hide {
	background: #32CB8F;
	color: #fff;
}

.tr {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.td {
	display: flex;
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	padding: 10px;
	justify-content: center;
	flex-basis: 17%;
}

.td:first-child {
	border-left: 1px solid #aaa;
	flex-basis: 68%;
	justify-content: center;
}

.tr:last-child {
	border-bottom: 1px solid grey;
}

.site-main .main .content-section .box .table {
	width: 100%;
}

.site-main .main .content-section .box td {
	border: 1px solid grey;
}

/*/End/contant/*/
/*/---------------------------------/*/

.sandwich {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -325px 0 0 -325px;
	width: 650px;
	height: 650px;
	background-color: #fff;
	border: 3px solid #32CB8F;
	border-radius: 20px;
	z-index: 100;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*.sandwich p:first-child {
	margin-top: 50px;
}*/

.sandwich .select-div .service {
	padding: 11px;
}

.sandwich * {
	margin: 10px;
}

.sandwich .close {
	padding: 5px 10px;
	position: absolute;
	right: 25px;
	top: 20px;
	border-radius: 10px;
	border: 2px solid #e41223;
	background-color: #fff;
	color: #e41223;
	font-weight: 600;
	cursor: pointer;
}

/*.sandwich .select-div .select-service,
.sandwich .callkeeperWidget-form input
.sandwich .callkeeperWidget-form button {
	box-sizing: border-box;
}*/

#select-service {
	cursor: pointer;
	padding: 3px;
	border-color: #32CB8F;
	border-radius: 7px;
}

.sandwich .callkeeperWidget-form {
	display: flex;
	flex-direction: column;
}

.sandwich .callkeeperWidget-form input {
	display: block;
	width: 400px;
	height: 50px;
	border: 1px solid #32CB8F;
	border-radius: 15px;
	margin-top: 5px;
	line-height: 40px;
	text-indent: 12px;
	font-size: 12px;
}

.sandwich .callkeeperWidget-form textarea {
	font-size: 14px;
	line-height: 20px;
	border: 1px solid #32CB8F;
	border-radius: 15px;
	height: 130px;
	text-indent: 12px;
	resize: none;
}

.sandwich .callkeeperWidget-form button {
	border-radius: 15px;
	line-height: 40px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	background-color: #32CB8F;
	border: none;
	color: #fff;
	cursor: pointer;
}

.callkeeper-underlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: .5;
	z-index: 50;
}








footer {
	align-items: center;
	background-color: #464646;
	color: #fff;
	display: flex;
	height: 100px;
	justify-content: center;
	width: 100%;
}



.active {
	display: flex;
}

.hidden {
	display: none;
}

.carousel img {
	height: auto;
	width: 100%;
}

.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}