*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	margin: 0;
	font-family: "Raleway-light", "RobotoRegular", verdana,  sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	background-color: #E6E6E6;
}

ol,
ul {
	list-style: none;
}

* a {
	text-decoration: none;
	color: #000;
}
.site-main {
	margin: 0;
	padding: 0;

}

.site-main .bgc {
	display: flex;
	background-color: #32CB8F;
}
/*.site-main .header, .bar, .content-section {
	box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
}*/

.site-main .header {
	display: inline-flex;
	height: 90px;
	width: 100%;
	background-color: #fff;
	padding-bottom: 10px;
	justify-content: center;
}

.site-main .header .header-container {
	display: inline-flex;
	width: 960px;
}

.site-main .header .header-container .logo, .alert, .contacts {
	display: inline-flex;
	justify-content: center;
	height: 100%;
	flex-grow: 1;
	align-items: center;
}

.site-main .header .header-container img {
	width: 105px;
}

.site-main .nav {
	display: flex;
	width: 100%;
	background-color: #282B2D;
	justify-content: center;
	margin-bottom: 10px;
}

.site-main .nav ul {
	height: 60px;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	width: 960px;

}

.site-main .nav ul a {
	padding: 21px 0 20px;
	display: inline-flex;
	flex-grow: 1;
	justify-content: center;
	color: #fff;
}

.site-main .nav ul a:hover {
	background: #32CB8F;
}

.site-main .main {
	display: flex;
	justify-content: center;
}

.site-main .main .main-container {
	padding: 0;
	width: 960px;
	background-color: #32CB8F;
}

.site-main .main .site-bar {
	display: inline-flex;
	height: 100%;
	width: 230px;
	flex-direction: column;
	background-color: #e6e6e6;

}

.site-main .main .site-bar .bar {
	display: flex;
	flex-direction: column;
	background-color: #fff;
}

.site-main .site-bar .bar h3 {
	padding-left: 25px;
	color: #32CB8F;
}

.site-main .site-bar .bar ul {
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: column;
}

.site-main .site-bar .bar ul a {
	justify-content: center;
	padding: 10px 15px;
}

.site-main .site-bar .bar ul a:last-child {
	padding-bottom: 25px;
}

.site-main .site-bar .bar ul a:hover {
	background: #32CB8F;
	border-right: 5px solid #282B2D;
}

.site-main .main .content-section {
	width: 70%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	background-color: #32CB8F;

}














footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100%;
	background-color: #464646;
	color: #fff;
}





.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}